*{
	box-sizing: border-box;
	margin: 0;
}

body{

}

header{
	position: sticky;
	top: 0;
	background-color: #000;
	color: #fff;
	padding: 1rem;
}

#headertop{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
}

#headertitle{
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	text-align: center;
}

#burger{
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid #fff;
	padding: 1rem;
	width: 3rem;
	height: 3rem;
}

nav{display: none;}

nav ul{
	list-style-type: none;
	padding: 0;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

nav li{display: block;}

nav a{
	color: #fff;
	text-decoration: none;
}

nav a:hover{
	color: #555;
	font-weight: 600;
}

#intro{
	border: 1px solid #000;
	padding: 1rem;
	margin: 1rem;
	text-align: center;
}

#programation{
	text-align: center;
	background-color: #000;
	color: #fff;
	width: 100%;
	padding: 1rem;
	margin: 1rem auto;
}

#slider{
	margin: 1rem;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
}

#details{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}

#pho1, #pho2, #pho3{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 2rem;
	width: 8rem;
	height: 4rem;
}

.arrow{
	width: 15%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.5rem;
	color: #ccc;
}

#affiche{width: 70%;}

#affiche img{width: 100%;}

.film1{display: block;}

.film2, .film3, .film4, .film5, .film6, .film7, .film8{display: none;}

/**
**	LES BREAKPOINTS ONT ETE PIQUES CHEZ BOOTSTRAP
**/

@media screen and (min-width: 576px) {

}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 992px) {

}

@media screen and (min-width: 1200px) {

}
